* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.header {
  height: 80px;
}
.header .navbar-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header .navbar-top .header-logo {
  color: #4C3575;
}
.header .navbar-top #search-bx {
  outline: none;
  border: none;
  padding: 10px;
  width: 240px;
  background-color: rgba(120, 88, 166, 0.1);
  padding-left: 12px;
  padding-right: 12px;
}

.add-note_form {
  width: 480px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.add-note_form .add-note_header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.add-note_form .add-note_header .add-note_small {
  font-size: 12px;
  opacity: 0.8;
}
.add-note_form .add-note_input {
  width: 100%;
}
.add-note_form .add-note_input input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: none;
  background-color: rgba(120, 88, 166, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.add-note_form .add-note_input textarea {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(120, 88, 166, 0.1);
  border: none;
  outline: none;
  min-width: 100%;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 80px;
  max-height: 80px;
  margin-bottom: 10px;
}
.add-note_form .add-note_input #button_submit {
  width: 240px;
  background-color: #4C3575;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.4s;
  margin-left: 136px;
}
.add-note_form .add-note_input #button_submit:hover {
  opacity: 0.92;
}

.note-app .note-app_header {
  margin-bottom: 40px;
  margin-top: 40px;
  color: #4C3575;
  opacity: 0.8;
  text-align: center;
  border-bottom: 2px solid rgba(120, 88, 166, 0.1);
  padding-bottom: 20px;
}
.note-app .empty-note {
  text-align: center;
  opacity: 0.4;
}
.note-app .note-app_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.note-item {
  width: 280px;
  margin-bottom: 40px;
  background-color: rgba(242, 242, 242, 0.6);
  padding: 20px;
}
.note-item .note-header {
  font-size: 16px;
}
.note-item .note-header .note-date {
  font-size: 12px;
  opacity: 0.6;
}
.note-item .note-body {
  width: 96%;
  text-align: justify;
  margin-top: 20px;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 20px;
  opacity: 0.8;
}
.note-item .note-footer .note-btn {
  width: 42px;
  height: 42px;
  font-size: 18px;
  outline: none;
  border: none;
  margin-right: 10px;
  background-color: rgba(120, 88, 166, 0.1);
  color: #4C3575;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.note-item .note-footer .note-btn:hover {
  background-color: #4C3575;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    height: 100%;
  }
  .header .navbar-top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header .navbar-top .header-logo {
    margin-top: 20px;
    color: #4C3575;
  }
  .header .navbar-top #search-bx {
    width: 300px;
    margin-top: 20px;
    padding: 14px;
  }
  .add-note_form {
    width: 100%;
  }
  .add-note_form .add-note_input {
    width: 100%;
  }
  .add-note_form .add-note_input input {
    width: 100%;
    padding-right: 0px;
    outline: none;
  }
  .add-note_form .add-note_input textarea {
    width: 100%;
    padding-right: 0px;
  }
  .add-note_form .add-note_input #button_submit {
    width: 60%;
    background-color: #4C3575;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.4s;
    margin-left: 68px;
  }
  .add-note_form .add-note_input #button_submit:hover {
    opacity: 0.92;
  }
}/*# sourceMappingURL=style.css.map */